.title {
    font-size: 30;
    horizontal-align: center;
    margin: 20;
}

button {
    font-size: 42;
    horizontal-align: center;
}

.message {
    font-size: 20;
    color: #284848;
    horizontal-align: center;
}


.transparentBackground {
    background-color: #00000000;
}

.header {
    height: "66";
    /*background-color: #55FFFFFF;*/
}