.menuItem {
    padding: 15px 15px 15px 15px;
    color: #545454;
}

#menu {
    background-color: #EEFAFAFA;
}

#permissionMenu {
    background-color: #EEFAFAFA;
}

#permissionLabel {
    padding: 15px 15px 5px 15px;
    color: #545454;
}

#changePermission {
    padding: 5px 15px 15px 15px;
    color: #545454;
    text-align: center;
}

.action-btn {
    color: #545454;
}

.action-btn-disabled {
    color: #BBBBBB;
}

.toggle-btn-on {
    color: #EEAA00;
}

.toggle-btn-off {
    color: #545454;
}

.permission-btn-granted {
    color: #FF0000;
}

.permission-btn-denied {
    color: #BBBBBB;
}

.material-icon {
    font-family: "MaterialIcons-Regular";
    font-size: 22px;
}

.bookmark-title {
    font-size: 18px;
}

.bookmark-subtitle {
    font-size: 10px;
}

.delete-btn {
    color: white;
}

.search-bar {
    
}

#overviewButton {
    width: 30;
}

#menuButton {
    width: 30;
}

#addButton {
    width: 30;
}

#menuButtons {
    height: 44;
}