.menuItem {
    padding: 15px 40px 15px 15px;
    color: #545454;
}

#menu {
    background-color: #CCFFFFFF;
}

.action-btn {
  font-size: 22px;
  color: #545454;
  width: 11%;
}

.material-icon {
	font-family: "MaterialIcons-Regular";
}
